__pycache__
Objectives.txt
Borrar.py

*xlsx
*avi
*png
!Select Image.png
!Shiny Charizard.png
!Shiny Pokemon Collection.png
!Color Selector Interface.png
!Giratina Color Example.png
!Giratina Contour Example.png
!/Media/Pokemon Names/*.png