__pycache__
.venv/
.vscode/
.pytest_cache

/Media/Tests/
/Media/Images/
/Media/Videos/
*.db

# Prevent email credentials from being accidentally pushed to GitHub
/Modules/Mail/Credentials.env

Test.py
Changelog.txt

# Hidden MacOS system file which is automatically created by MacOS systems
**/.DS_Store

# JetBrains IDE files
.idea/vcs.xml
.idea/Dinones-Shiny-Hunter-Shaymin-Python3-11-10.iml
.idea/inspectionProfiles/profiles_settings.xml
/.idea