numpy==1.24.4
nxbt==0.1.4
opencv_python==4.5.3.56
Pillow==10.4.0
PyAutoGUI==0.9.53
pynput==1.7.1
cllist==1.1.0
llist==0.7.1
pytesseract==0.3.10
playsound==1.3.0
PyQt5==5.14.1
requests==2.32.3
python-dotenv==1.0.1
